    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm Mới Bài Viết
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="Home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="Posts">Bài viết</a></li>
        <li class="active">Thêm mới bài viết</li>
    </ol>
</section>
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Nhập thông tin bài viết</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddPost" role="form" ng-submit="addPost()">
            <div class="box-body">
                <!--Tên danh mục-->
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Tiêu đề bài viết</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-change="GetSeoTitle()"
                               name="name"
                               required
                               ng-model="post.Name"
                               placeholder="Tiêu đề bài viết">
                        <span class="text-danger" ng-show="frmAddPost.name.$error.required&&frmAddPost.name.$touched">Tiêu đề bài viết không được để trống</span>
                    </div>
                </div>
                <!--Tiêu đề SEO-->
                <div class="form-group">
                    <label for="inputAlias" class="col-sm-2 control-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="alias" ng-model="post.Alias" id="inputAlias" placeholder="Tiêu đề SEO">
                        <span class="text-danger" ng-show="frmAddPost.alias.$error.required&&frmAddPost.alias.$touched">Tiêu đề SEO không được để trống</span>
                    </div>
                </div>
                <!--Danh mục-->
                <div class="form-group">
                    <label for="inputPostCategory" class="col-sm-2 control-label">Danh mục</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="parentID" ng-model="post.CategoryId" ng-options="option.ID as option.Name for option in ListPostCategory" id="inputPostCategory">
                            <option value="">-- Chọn danh mục bài viết --</option>
                        </select>
                        <input type="hidden" name="parentID" ng-model="post.CategoryId" />
                    </div>
                </div>
                <!--Mô tả-->
                <div class="form-group">
                    <label for="inputDescription" class="col-sm-2 control-label">Mô tả</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" ng-model="post.Description" id="inputDescription" placeholder="Mô tả">
                    </div>
                </div>
                <!--Ảnh đại diện-->
                <div class="form-group">
                    <label for="inputImage" class="col-sm-2 control-label">Ảnh đại diện</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="image" ng-model="post.Image" id="inputImage" placeholder="Ảnh đại diện">
                            <span class="input-group-btn">
                                <button type="button" ng-click="ChooseImage()" class="btn btn-info">Chọn ảnh</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
                <!--Nội dung-->
                <div class="form-group">
                    <label for="inputContent" class="col-sm-2 control-label">Nội dung</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" name="content" ckeditor="ckeditorOptions" ng-model="post.Content" id="inputContent" placeholder="Mô tả"></textarea>
                    </div>
                </div>
                <!--Tags-->
                <div class="form-group">
                    <label for="inputDescription" class="col-sm-2 control-label">Tags</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="tags" ng-model="post.Tags" id="inputDescription" placeholder="tag1, tag2,...">
                    </div>
                </div>
                <!--Hiện trên trang chủ-->
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="homeFlag" ng-model="post.HomeFlag" ng-checked="post.HomeFlag"> Hiện trên trang chủ
                        </label>
                    </div>
                </div>
                <!--Là tin tức nổi bật-->
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="hotFlag" ng-model="post.HotFlag" ng-checked="post.HotFlag"> Là tin nổi bật
                        </label>
                    </div>
                </div>
                <!--Tình trạng-->
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="status" ng-model="post.Status" ng-checked="post.Status"> Kích hoạt
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-info">Thêm mới</button>
                    <button ui-sref="posts" class="btn btn-default">Hủy bỏ</button>
                </div>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>

