    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm Mới Bài Viết
    </h1>
    <ol class="breadcrumb">
        <li><a routerLink="../"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a routerLink="./">Bài viết</a></li>
        <li class="active">Thêm mới bài viết</li>
    </ol>
</section>
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Nhập thông tin bài viết</h3>
        </div>
        <!-- /.box-header -->
        <!--Form start-->
        <post-form></post-form>
    </div>
    <!-- /.box -->
</section>