    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm Mới Danh Mục Bài Viết
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="Home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="Posts">Bài đăng</a></li>
        <li><a ui-sref="PostCategories">Danh mục</a></li>
        <li class="active">Thêm mới danh mục</li>
    </ol>
</section>
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Nhập thông tin danh mục sản phẩm</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddPostCategory" role="form" ng-submit="AddPostCategory()">
            <div class="box-body">
                <!--Tên danh mục-->
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Tên danh mục</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" 
                               ng-model-options="{ updateOn: 'blur' }" 
                               check-Exist="api/postcategory/checknameunique" 
                               ng-change="GetSeoTitle()" 
                               name="name" 
                               ng-model="postCategory.Name" 
                               placeholder="Tên danh mục">
                        <span class="text-danger"
                              ng-show="frmAddPostCategory.name.$error.checkExist">
                            Tên danh mục đã tồn tại
                        </span>
                    </div>
                </div>
                <!--Tiêu đề SEO-->
                <div class="form-group">
                    <label for="inputAlias" class="col-sm-2 control-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="alias" ng-model="postCategory.Alias" id="inputAlias" placeholder="Tiêu đề SEO">
                    </div>
                </div>
                <!--Mô tả-->
                <div class="form-group">
                    <label for="inputDescription" class="col-sm-2 control-label">Mô tả</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" ng-model="postCategory.Description" id="inputDescription" placeholder="Mô tả">
                    </div>
                </div>
                <!--Ảnh đại diện-->
                <div class="form-group">
                    <label for="inputImage" class="col-sm-2 control-label">Ảnh đại diện</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="image" ng-model="postCategory.Image" id="inputImage" placeholder="Ảnh đại diện">
                    </div>
                </div>
                <!--Danh mục cha-->
                <div class="form-group">
                    <label for="inputParentID" class="col-sm-2 control-label">Danh mục cha</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="parentID" ng-model="postCategory.ParentID" ng-options="option.ID as option.Name for option in ListParentCategories" id="inputParentID">
                            <option value="">-- Chọn danh mục cha --</option>
                        </select>
                        <input type="hidden" name="parentID" ng-model="postCategory.ParentID" />
                    </div>
                </div>
                <!--Thứ tự hiển thị-->
                <div class="form-group">
                    <label for="inputDisplayOrder" class="col-sm-2 control-label">Thứ tự hiển thị</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="displayOrder" ng-model="postCategory.DisplayOrder" id="inputDisplayOrder" value="0" placeholder="Thứ tự hiển thị">
                    </div>
                </div>
                <!--Hiện trên trang chủ-->
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="homeFlag" ng-model="postCategory.HomeFlag" ng-checked="postCategory.HomeFlag"> Hiện trên trang chủ
                        </label>
                    </div>
                </div>
                <!--Tình trạng-->
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="status" ng-model="postCategory.Status" ng-checked="postCategory.Status"> Kích hoạt
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-info">Tạo mới</button>
                    <button ui-sref="PostCategories" class="btn btn-default">Hủy bỏ</button>
                </div>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
